.projects__wrapper {
    margin-top: 110px;
    @include display-flex-column;
    justify-content: center;
    align-items: center;
    @include _1200px {
    align-items: flex-start;
        }
    &--title {
        @include blue-titles;
    }
    &--caption{
        @include caption-styles;
        @include _320px {
            font-size: 1.1rem;
        }
    }
    &--list{
        padding: 0;
        list-style: none;
        @include _320px {
            font-size: 1rem;
        }
    }
}

.project__item {
    @include display-flex-column;
    justify-content: center;
    gap: 50px;
    margin: 120px auto;
    &--pic {
        width: 440px;
        @include _320px {
            width: 285px;
        }
    }
    &--descr {
        width: calc(60% - (80px/2)); 
        @media (max-width: 1195px) {
            order: 1;
        }
        order: 0;
   
    }
    @include _1200px {
        @include display-flex-row;
        align-items: flex-start;
    }
}

.project__description {
    &--title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing:.3rem;
    }
    &--text {
        line-height: 1.6em;
    }
    &--stack__container {
        @include display-flex-row; 
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-weight: 700;
    }
    &--links__container {
        @include display-flex-row;
        justify-content: center;    
        gap: 20px; 

        &>.links__container--item {
        text-decoration: none;
        border: 2px solid $color-black;
        border-radius: 5%;
        padding: 10px 30px 10px 15px;
        margin: 20px;
        font-weight: 700;
        color: $color-black;
        position: relative;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
           
        }
       }
    }
}

.code__item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 82%;          
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%); 
    background-image: url("../img/icons/github.svg");
    background-size: cover;
    transform: scaleX(1.4), scaleY(1.6);

}

.demo__item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 88%;          
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%); 
    background-image: url("../img/icons/external-link.png");
    background-size: cover;
    transform: scaleX(1.4), scaleY(1.6);

}